.App {
  text-align: center;
}

.App-header {
  background-color: #edeff2;
  height: 150px;
  padding: 20px;
  color: #e53935;
}

.App-intro {
  font-size: large;
}

.home-card {
  height: 250px;
  padding-top: 100px;
}

.flexbox {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
  }

/*Reference for spinning logo*/
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
